{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block content %}
<div class="flex items-center flex-col mt-10">
  <h1 class="text-2xl text-bold mb-6">{{ section.title }}</h1>
  {{ section.content | safe }}

  {#- Show the list of tags on top of the blog tiles as soon as there is more than one tag in use -#}
  {% set tags = get_taxonomy(kind="blog-tags", lang=lang) %}
  {% if tags.items | length > 1 %}
  {{ macros::terms_list_blog_tags(terms=tags.items) }}
  {% endif %}

  <div class="flex flex-col gap-y-6 w-full px-4 sm:w-2/3">
    {% for page in paginator.pages %}
    {{ macros::blog_post_tile(page=page) }}
    {% endfor %}
  </div>
</div>
{% endblock content %}